{% extends 'store/layouts/main.html' %}

{% block title %}Collection{% endblock title %}

{% block content %}

<div class="py-3 bg-primary">
    <div class="container" >
        <a style="color:white;text-decoration:none" href= {% url 'home' %} >Home /</a>
        <a style="color:white;text-decoration:none" href= {% url 'collections' %} >Collections /</a>
        <a style="color:white;text-decoration:none" href= {% url 'collectionsview' products.Category.slug %} >{{products.Category.slug}} /</a>
        <a style="color:white;text-decoration:none" href= {% url 'productview' products.Category.slug products.slug %} >{{products.slug}} /</a>
        
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> {{products.name}} </h1>
            <hr>
            <div class="row">

                {% for item in Products %}
                    <div class="col-md-3">
                        <div class="card">
                            <a href="">
                            <div class="card-body">
                                <div class="category-image">
                                    <img src="{{item.product_image.url}}" style="height:200px;" class="w-100">
                                </div>
                                <div class="container" style="text-align:center">
                                    <h4>
                                        {{item.name}}
                                    </h4>
                                    <span>Original : {{item.original_price | stringformat:'d' }} </span> <br>
                                    <span>Discount : {{item.selling_price | stringformat:'d' }} </span>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

    {% comment %} <h1>This is collections page</h1>
    {{Categories}} {% endcomment %}

{% endblock content %}